<h1>Current Sessions</h1>
<table class="table">
	<thead>
		<tr>
			<th>User ID</th>
			<th>Email</th>
			<th>Group</th>
			<th>Ip Address</th>
		</tr>
	</thead>
	<tbody>
		<% @sessions.each do |user| %>
		<tr>
			<td><%= user.user_id %></td>
			<td><%= user.email %></td>
			<td><%= user.group %></td>
			<td><%= user.ip %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h1>Access Log</h1>

<table class="table">
	<thead>
		<tr>
			<th>Outcome</th>
			<th>Email</th>
			<th>IP Address</th>
			<th>User Agent</th>
		</tr>
	</thead>
	<tbody>
		<% @access.each do |attempt| %>
		<tr>
			<td><%= attempt.outcome %></td>
			<td><%= attempt.email %></td>
			<td><%= attempt.ip_address %></td>
			<td><%= attempt.http_user_agent[0..50] %></td>
		</tr>
		<% end %>
	</tbody>
</table>