<h1>Editing: <%= @post.title %></h1>
<small><strong>Created:</strong> <%= @post.created_at %></small>
<small><strong>Last updated:</strong> <%= @post.updated_at %></small>
<hr>
<%= form_for( @post, :html => { :class => 'form'} ) do |f| %>
	<div class="form-group row">
		<div class="col-md-1">
			<%= f.label :id %>
			<%= f.text_field :id, :class => 'form-control' %>
		</div>
		<div class="col-md-3">
			<%= f.label :title %>
			<%= f.text_field :title, :class => 'form-control' %>
		</div>
		<div class="col-md-3">
			<%= f.label :slug %>
			<%= f.text_field :slug, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12">
			<div id="editor-wrap">
				<% # TODO: Build very simple WYSWYG %>
				<%= f.label :content %>
				<%= f.text_area :content, :class => 'form-control', :rows => 10, :id => 'editor' %>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<%= f.submit 'Save', :class => 'btn btn-default' %>
			<%= link_to 'Cancel', posts_path, :class => 'btn btn-default' %>
		</div>
	</div>
<% end %>