<p id="notice"><%= notice %></p>

<p>
  <strong>Analytics:</strong>
  <%= @checklist.analytics %>
</p>

<p>
  <strong>Permalinks:</strong>
  <%= @checklist.permalinks %>
</p>

<p>
  <strong>Contact forms:</strong>
  <%= @checklist.contact_forms %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @checklist.site_url %>
</p>

<p>
  <strong>Allow robots:</strong>
  <%= @checklist.allow_robots %>
</p>

<p>
  <strong>Css compressed:</strong>
  <%= @checklist.css_compressed %>
</p>

<p>
  <strong>Javascript compressed:</strong>
  <%= @checklist.javascript_compressed %>
</p>

<p>
  <strong>Redirects:</strong>
  <%= @checklist.redirects %>
</p>

<p>
  <strong>Google site map:</strong>
  <%= @checklist.google_site_map %>
</p>

<p>
  <strong>Site:</strong>
  <%= @checklist.site %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
